{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario enviado con éxito</title>
</head>
<body>
    {% block content %}
    <h1>¡Mensaje enviado con éxito!</h1>
    <p>Gracias por ponerte en contacto con nosotros. Tu mensaje ha sido enviado correctamente.</p>
    <!-- Puedes agregar más contenido o redireccionar al usuario a otras páginas desde aquí -->
    {% endblock %}
</body>
</html>
